<% include ../include/header %>
            <div id="main" class="login">
               <div class="main_top login">
                    <div id="content" class="login">
                        <div class="login_notice">
                            <ul>
                                <li>
                                    <img src="https://img.castvot.com/img/icon_login.png" alt="login">
                                    <div>후보자 추천은 팬분들에 한하여 가능하며, 한 ID당 한 명의 후보자 추천만 가능합니다.</div>
                                </li>
                                <li>
                                    <img src="https://img.castvot.com/img/icon_login.png" alt="login">
                                    <div>팬분들의 추천과정은 익명으로 진행되며, 후보자 추천만 로그인 정보와 함께 DB에 보관합니다.</div>
                                </li>
                                <li></li>
                            </ul>
                        </div>

                        <div class="snsBox">
                            <div class="sns naver" onclick="location.href='/login/auth/naver'">
                                <div>
                                    <a href="/login/auth/naver">
                                        <img src="https://img.castvot.com/img/logo_naver.png" alt="naver">
                                        <div>네이버 로그인</div>
                                    </a>
                                </div>
                            </div>
                            <div class="sns facebook" onclick="location.href='/login/auth/facebook'">
                                <div>
                                    <a href="/login/auth/facebook">
                                        <img src="https://img.castvot.com/img/logo_facebook.png" alt="facebook">
                                        <div>페이스북 로그인</div>
                                    </a>
                                </div>
                            </div>
                            <div class="sns kakao" onclick="location.href='/login/auth/kakao'">
                                <div>
                                    <a href="/login/auth/kakao">
                                        <img src="https://img.castvot.com/img/logo_kakao.png" alt="kakao">
                                        <div>카카오톡 로그인</div>
                                    </a>
                                </div>
                            </div>
                            <div class="sns google" onclick="location.href='/login/auth/google'">
                                <div>
                                    <a href="/login/auth/google">
                                        <img src="https://img.castvot.com/img/logo_google.png" alt="google">
                                        <div>구글 로그인</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="botton_login" onclick="location.href='/'">
                            <a href="/">메인으로 가기</a>
                        </div>

                        <div class="ad">
                                <% include ../include/right_ad %>
                        </div>
                    </div>
                </div><!-- main_top -->
            </div><!-- main -->


<% include ../include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
