<% include ../include/header %>

    <section>
        <div class="sub_content">
            <div class="main_txt">공지사항</div>
            <table class="list_table">
                <tr class="bold">
                    <td>제목</td>
                    <td colspan="3">
                        투표하기전에 꼭 읽어보세요 !
                    </td>
                </tr>
                <tr class="bold">
                    <td>작성자</td>
                    <td>캐스팅보트솔루션</td>
                    <td>등록일자</td>
                    <td>2018-09-04</td>
                </tr>

                <tr class="list_txt">
                    <td rowspan="4" colspan="4">
본 투표 서비스는 홍콩에 있는 “Casting Vote Solution HK Limited”에서 제공 됩니다.<br>
(한국) 국민남친선발대회의 대상자는 한국에서 활동하고 있는 혹은 한국인에 한하며, 대상자는 추천에 의해서만 선발 됩니다. “Casting Vote Solution HK Limited”는 추천을 하지 않음을 명시 합니다. <br>
투표에 사용되기 위하여 지갑에 모인 암호화폐의 보관 및 관리권은 “Casting Vote Solution HK Limited”에 있습니다. <br>
국민남친 후보자 1인으로 인하여 투표된 암호화폐의 배분 계획은 다음과 같습니다. <br><br>

                        <table>
                            <tr>
                                <th>캐스팅보트 솔루션 홍콩</th>
                                <th>point X 0%</th>
                                <th>플랫폼 운영 수입</th>
                            </tr>
                            <tr>
                                <th>Korean Agent(한국 대리인)</th>
                                <th>point X 0%</th>
                                <th>홍보, 마케팅,용역 비용 </th>
                            </tr>
                            <tr>
                                <th>국민 남친 후보자</th>
                                <th>point X 100%</th>
                                <th>하단 주석 참조</th>
                            </tr>
                        </table>
<br>
(주석) <br>
1. “Ranking Point” (이하 RP)란 퀀텀(QTUM)의 가치를 수치로 산정한 값을 말합니다.<br>
2. RP에 반영되는 퀀텀(QTUM)의 시세는 모두 ‘대한민국 표준시’의 ‘코인마켓캡’ 기준으로 합니다.<br>
* Ranking Point 산정공식 : “ RP = [ QTUM x QTUM의 USD시세 ] ”<br>
3. ‘보팅어워즈 (Voting Awards)’란 투표 후보자에게 제공되는 ‘최종 RP’를 기준으로 산출된 ‘암호화폐의 양’과 ‘추가 혜택’을 말합니다. <br>
- 국민남친 후보자는 보팅어워즈로써 투표된 QTUM 전체를 받게 됩니다.<br>
- 단, 보팅어워즈가 ‘RP 100’ 이하 일 경우, 팬들의 이름으로 구호단체에 기부 됩니다.<br>
4. Korean Agent(한국 대리인)는 투표 대상자에게 보팅어워즈를 전달하기 위해서 최선을 다할 것입니다. <br>
5. 투표 종료 후 3주까지도 투표 대상자에게 보팅어워즈를 전달하지 못하거나, 투표 대상자가 보팅어워즈의 인수를 거부한 경우, 팬들의 이름으로 구호단체에 자동 기부 됩니다.<br>
6. 투표 도중, 초상권, 사용권 등, 모든 법적 이유 등으로, 더이상 투표가 진행 될 수 없을 경우, 투표에 사용된 암호화폐는 반환되지 않으며, 자동으로 팬들의 이름으로 구호단체에 기부 됩니다.<br>
7. 투표에 사용된 암호화폐는 기술적인 이유 등으로 취소 및 환불이 절대 불가능 합니다. <br>
8. 투표 대상자 혹은 구호단체에 전달될 보팅어워즈는 세금을 공제하기 전의 상태이므로 실제 전달되는 보팅어워즈와 상이 할 수 있습니다.<br><br>
위의 모든 조건에 동의 하실 경우에 한해서만 투표가 가능합니다.<br><br>
<b class="red">위의 모든 조건에 동의 하시지 않으실 경우, 절대 투표에 참여 하시면 안됩니다.</b>

                    </td>
                </tr>
            </table>
            <div class="btn_right">
                <a href="/bfc2/notice" class="button">목록</a>
            </div>
        </div>

    </section>
    <% include ../include/footer %>
  </div>
</body>
</html>
