<% include ./include/header %>

    <section class="hasbg">
        <div class="bgBox">
            <div class="sub_content marginTop" style="margin: 120px auto 170px">
                <h4>검색결과</h4>
                <div class="databox found">
                    <p class="result">"검색결과 <span>1</span>건"</p>
                    <ul>
                        <li>
                            <dl>
                                <dt></dt>
                                <dd>어쩌구저쩌구 아 어어어영 나는 눈이 좋아서  꿈에눈이 온다규~  copy</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt></dt>
                                <dd>어쩌구저쩌구 아 어어어영 나는 눈이 좋아서  꿈에눈이 온다규~  copy</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt></dt>
                                <dd>어쩌구저쩌구 아 어어어영 나는 눈이 좋아서  꿈에눈이 온다규~  copy</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt></dt>
                                <dd>어쩌구저쩌구 아 어어어영 나는 눈이 좋아서  꿈에눈이 온다규~  copy</dd>
                            </dl>
                        </li>
                    </ul>

                </div>
            </div><!-- //sub_content-->
        </div>
    </section>

    <% include ./include/footer %>

</div>
</body>
</html>
