<% include ./include/header %>

<section class="mainpage">
	<div class="mainImg">
		<div class="txtBox">
			<div>
				<img src="https://img.castvot.com/img/logo_ver02.png">
				<h3>잘나가는 STAR중 최고를 가린다!</h3>
				<h2>나의 <b>워너비 STAR</b>는 누구?</h2>
				<p>투표기간 : 2018.12 ~ 2019.01</p>
			</div>
		</div>
	</div>
	<div class="bgBox">
		<div class="section sc01">
			<div class="contentwrap">
				<div class="hotBJ fleft edge pc-only">
					<div class="title"><h4><b>HOT </b>BJ</h4></div>
					<!-- <div class="card viewPrnt" style="margin-right: 3.5%;">
						<div class="parent">
							<div class="viewChld child bj01">
								<div class="content"></div>
							</div>
							<div class="trans_txt">
								<img src="https://img.castvot.com/img/icon_crown.png"><span class="cardname fleft">윰댕</span>
							</div>
							<div class="btnb">
								<a href="#">VOTE</a>
								<a href="#" id="like"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
							</div>
						</div>
						<ul class="ul_count">
							<li><span>12,000</span> <div class="ibg coin"></div></li>
							<li><span>13,373</span> <div class="ibg hrt"></div></li>
						</ul>
						<ul class="ul_name">
							<li>유튜브BJ</li>
							<li>김이브</li>
						</ul>
					</div>
					<div class="card viewPrnt" style="margin-left: 3.5%">
						<div class="parent">
							<div class="viewChld child bj01">
								<div class="content"></div>
							</div>
							<div class="trans_txt">
								<img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
							</div>
							<div class="btnb">
								<a href="#">VOTE</a>
								<a href="#" id="like"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
							</div>
						</div>
						<ul class="ul_count">
							<li><span>12,000</span><div class="ibg coin"></div></li>
							<li><span>13,373</span><div class="ibg hrt"></div></li>
						</ul>
						<ul class="ul_name">
							<li>유튜브BJ</li>
							<li>김이브</li>
						</ul>
					</div> -->
				</div>
				<div class="hotBJ fleft edge mobile-only">
					<div class="title"><h4><b>HOT </b>BJ</h4></div>
					<div class="slide">
						<!-- Swiper -->
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="viewChld">
										</div>
										<div class="btnb">
											<a href="#">VOTE</a>
										</div>
									</div>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="viewChld">
										</div>
										<div class="btnb">
											<a href="#">VOTE</a>
										</div>
									</div>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				<div class="todayBJ fleft edge" style="margin-bottom: 0">
					<div class="title"><h4><b>TODAY </b>BJ</h4></div>
					<div class="card viewPrnt">
						<div class="parent">
							<div class="viewChld child bj01">
								<div class="content"></div>
							</div>
							<div class="trans_txt pc-only">
								<img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
							</div>
							<div class="btnb">
								<a href="#">VOTE</a>
								<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
							</div>
						</div>
						<ul class="ul_count mobile-hide">
							<li><span>12,000</span> <div class="ibg coin"></div></li>
							<li><span>13,373</span> <div class="ibg hrt"></div></li>
						</ul>
						<ul class="ul_name">
							<li>유튜브BJ</li>
							<li>김이브</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section sc02">
			<div class="contentwrap">
				<div class="newBJ">
					<div class="title"><h4><b>NEW</b> BJ</h4></div>
					<div class="slide">
						<!-- Swiper -->
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
								<div class="swiper-slide viewPrnt">
									<div class="card viewChld bj01">
										<div class="parent">
											<div class="viewChld child">
												<div class="content"></div>
											</div>
											<div class="trans_txt pc-only">
												<span class="cardname fleft">이사배</span>
											</div>
											<div class="btnb">
												<a href="#">VOTE</a>
												<a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
											</div>
										</div>
									</div>
									<ul class="ul_count pc-only">
										<li><span>12,000</span><div class="ibg coin"></div></li>
										<li><span>13,373</span><div class="ibg hrt"></div></li>
									</ul>
									<ul class="ul_name">
										<li>유튜브 BJ</li>
										<li><b>김이브</b></li>
									</ul>
								</div>
							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section sc03">
			<div class="contentwrap">
				<div class="hotTV pc-only">
					<div class="title"><h4><b>HOT</b> TV</h4></div>
					<div class="videocontainer">
						<div class="bjsBox">
							<div class="vframe">
								<iframe src="https://www.youtube.com/embed/CNfodZluR-Q?ecver=2" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="tvInfo">
								<p class="yt-title">Stray Kids "I am YOU" M/V</p>
								<p class="bjName">jypentertainment</p>
							</div>
						</div>
						<div class="bjsBox">
							<div class="vframe">
								<iframe src="https://www.youtube.com/embed/uj-vsjlbwWs?ecver=2" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="tvInfo">
								<p class="yt-title">[After School Club] The super rookies of 2018 Stray Kids(스트레이 키즈)! _ Full Episode - Ep.340</p>
								<p class="bjName">ARIRANG K-POP</p>
							</div>
						</div>
						<div class="bjsBox">
							<div class="vframe">
								<iframe src="https://www.youtube.com/embed/AdfIfFGCqgo?ecver=2"frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="tvInfo">
								<p class="yt-title">Stray Kids "Hellevator" M/V</p>
								<p class="bjName">jypentertainment</p>
							</div>
						</div>
						<div class="bjsBox">
							<div class="vframe">
								<iframe src="https://www.youtube.com/embed/_Zh6Aa-Wi30?ecver=2" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="tvInfo">
								<p class="yt-title">[MPD직캠] 스트레이 키즈 필릭스 직캠 'Get Cool' (Stray Kids FELIX FanCam) | @MCOUNTDOWN_2018.11.15</p>
								<p class="bjName">M2</p>
							</div>
						</div>
						<div class="bjsBox">
							<div class="vframe">
								<iframe src="https://www.youtube.com/embed/WVi4S2TtiDI?ecver=2"frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="tvInfo">
								<p class="yt-title">181109 Stray kids 목동 팬싸인회 _ 극과 극 Felix Focus</p>
								<p class="bjName">FEEL SO GOOD_915</p>
							</div>
						</div>
						<div class="bjsBox">
							<div class="vframe">
								<iframe src="https://www.youtube.com/embed/x9TZNpRCeqE?ecver=2"frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="tvInfo">
								<p class="yt-title">Stray Kids "M.I.A." Performance Video</p>
								<p class="bjName">Stray Kids</p>
							</div>
						</div>
					</div>
				</div>
				<div class="hotTV mobile-only">
					<div class="title"><h4><b>HOT</b> TV</h4></div>
					<div class="slide">
						<!-- Swiper -->
						<div class="swiper-container">
							<div class="swiper-wrapper videocontainer">
								<div class="swiper-slide bjsBox">
									<div class="vframe">
										<iframe src="https://www.youtube.com/embed/CNfodZluR-Q?ecver=2" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="tvInfo">
										<p class="yt-title">Stray Kids "I am YOU" M/V</p>
										<p class="bjName">jypentertainment</p>
									</div>
								</div>
								<div class="swiper-slide bjsBox">
									<div class="vframe">
										<iframe src="https://www.youtube.com/embed/uj-vsjlbwWs?ecver=2" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="tvInfo">
										<p class="yt-title">[After School Club] The super rookies of 2018 Stray Kids(스트레이 키즈)! _ Full Episode - Ep.340</p>
										<p class="bjName">ARIRANG K-POP</p>
									</div>
								</div>
								<div class="swiper-slide bjsBox">
									<div class="vframe">
										<iframe src="https://www.youtube.com/embed/AdfIfFGCqgo?ecver=2"frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="tvInfo">
										<p class="yt-title">Stray Kids "Hellevator" M/V</p>
										<p class="bjName">jypentertainment</p>
									</div>
								</div>
								<div class="swiper-slide bjsBox">
									<div class="vframe">
										<iframe src="https://www.youtube.com/embed/_Zh6Aa-Wi30?ecver=2" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="tvInfo">
										<p class="yt-title">[MPD직캠] 스트레이 키즈 필릭스 직캠 'Get Cool' (Stray Kids FELIX FanCam) | @MCOUNTDOWN_2018.11.15</p>
										<p class="bjName">M2</p>
									</div>
								</div>
								<div class="swiper-slide bjsBox">
									<div class="vframe">
										<iframe src="https://www.youtube.com/embed/WVi4S2TtiDI?ecver=2"frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="tvInfo">
										<p class="yt-title">181109 Stray kids 목동 팬싸인회 _ 극과 극 Felix Focus</p>
										<p class="bjName">FEEL SO GOOD_915</p>
									</div>
								</div>
								<div class="swiper-slide bjsBox">
									<div class="vframe">
										<iframe src="https://www.youtube.com/embed/x9TZNpRCeqE?ecver=2"frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="tvInfo">
										<p class="yt-title">Stray Kids "M.I.A." Performance Video</p>
										<p class="bjName">Stray Kids</p>
									</div>
								</div>
							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<% include ./include/footer %>

</div>
</body>
<script>
	function updateHotBj(){
		$.ajax({
			type: "GET",
			url: "/ajax/update_hotbj",
			crossDomain: false,
			contentType: "application/json",
			processData: false,
			dataType: "json",
			success: function(data){
				var result = $.parseJSON(JSON.stringify(data));
				var data = $.parseJSON(result.data);
				let contentsHotBj;

				if(result.status === true) {
					contentsHotBj = "<div class=\"title\"><h4><b>HOT </b>BJ</h4></div>";

					// HOT BJ 초기화
					// for (let i = 0; i < 2; i++) {
					// 	contentsHotBj +=
					// 		"<div class=\"bjsBox\">" +
					// 		"	<div class=\"bjBox\">" +
					// 		"		<img src='https://img.castvot.com/files/bfc/" + String(data[i].photo) + "-small.jpg' alt='bj0" + (i + 1) + "'>" +
					// 		"		<div class=\"black\"></div>" +
					// 		"		<div class=\"rp\">" +
					// 		"		  <div class=\"icon\">RP</div>" +
					// 		// TODO : ↘ DB 테이블 확정되면 변수 수정하기.
					// 		"		  <div class=\"point\">" + (parseInt(data[i].total * 1000) / 1000) + "</div>" +
					// 		"		</div>" +
					// 		"		<a href=\"#\" class=\"btn\">VOTE</a>" +
					// 		"	</div>" +
					// 		"	<div class=\"txtBox\">" + data[i].active_area + "<span>" + data[i].name + "</span></div>" +
					// 		"</div>";
					// 		FixWindowSize();
					// }

					for (let i=0; i< 2; i++ ) {
						var style_mr = 0;
						if ( i == 0 ) {
							style_mr = "7%";
						} else { 
							style_mr = 0; 
						}
						contentsHotBj += "<div class='card viewPrnt' style='margin-right: " + style_mr + ";'>\n" +
										"	<div class='parent'>\n" +
										"		<div class='viewChld child bj01' style='background-image: url(\"https://img.castvot.com/files/bfc/" + String(data[i].photo) + "-small.jpg\")'>\n" +
										" 			<div class='content'>\n" +
										" 			</div>\n" + 
										" 		</div>\n" +
										" 		<div class='trans_txt'>\n" +
										" 			<img src='https://img.castvot.com/img/icon_crown.png'><span class='cardname fleft'>" + data.name + "</span>\n" +
										" 		</div>\n" +
										" 		<div class='btnb'>\n" +
										" 			<a href='#'>VOTE</a>\n" +
										" 			<a href='#' id='like'><img src='https://img.castvot.com/img/icon_hrt_wh.png' alt=''></a>\n" +
										" 		</div>\n" +
										"</div>" +
										" 	<ul class='ul_count'>\n" +
										" 		<li><span>" + (parseInt(data[i].total * 1000) / 1000) + "</span> <div class='ibg coin'></div></li>\n" +
										" 		<li><span>13,373</span> <div class='ibg hrt'></div></li>\n" +
										" 	</ul>\n" +
										" 	<ul class='ul_name'>\n" +
										" 		<li>" + data[i].active_area + "</li>\n" +
										"		<li>" + data[i].name + "</li>\n" +
										" 	</ul>\n" +
										" </div>\n";

						FixWindowSize();
					}
				} else { // 데이터 에러
					console.log("Data Error : " + result.message);
					return;
				}
				
				$(".hotBJ.pc-only").html(contentsHotBj);

			}, error: function(xhr, status, errorThrown){
				console.log("통신에러 : " + xhr.responseText);
			}
		}); // end of ajax : updateHotBj
	}

	function updateTodayBj(){
		$.ajax({
			type: "GET",
			url: "/ajax/update_todaybj",
			crossDomain: false,
			contentType: "application/json",
			processData: false,
			dataType: "json",
			success: function(data){
				var result = $.parseJSON(JSON.stringify(data));
				var data = $.parseJSON(result.data);
				let contentsTodayBj;
				
				if(result.status === true) {
					contentsTodayBj  =  " <div class='title'><h4><b>TODAY </b>BJ</h4></div>\n" +
										" <div class='card viewPrnt'>\n" +
										" 	<div class='parent'>\n" +
										"		<div class='viewChld child bj01' style='background-image: url(\"https://img.castvot.com/files/bfc/" + String(data.photo) + "-small.jpg\")'>\n" +
										" 			<div class='content'></div>\n" +
										" 		</div>\n" +
										" 		<div class='trans_txt pc-only'>\n" +
										" 			<img src='https://img.castvot.com/img/icon_crown(s).png'><span class='cardname fleft'>" + data.name + "</span>\n" +
										" 		</div>\n" +
										" 		<div class='btnb'>\n" +
										" 			<a href='#'>VOTE</a>\n" +
										" 			<a href='#' id='like' class='mobile-hide'><img src='https://img.castvot.com/img/icon_hrt_wh.png' alt=''></a>\n" +
										" 		</div>\n" +
										" 	</div>\n" +
										" 	<ul class='ul_count mobile-hide'>\n" +
										" 		<li><span>" + (parseInt(data.total * 1000) / 1000) + "</span> <div class='ibg coin'></div></li>\n" +
										" 		<li><span>13,373</span> <div class='ibg hrt'></div></li>\n" +
										" 	</ul>\n" +
										" 	<ul class='ul_name'>\n" +
										" 		<li>" + data.active_area + "</li>\n" +
										" 		<li>" + data.name + "</li>\n" +
										" 	</ul>\n" +
										" </div>\n" ;
				
					 // TODAY BJ 초기화
//					 for (let i = 0; i < 2; i++) {
						 //contentsTodayBj +=
							//  "<div class=\"bjsBox\">" +
							//  "	<div class=\"bjBox\">" +
							//  "		<img src=\"img/bj03.png\" alt=\"bj03\">" +
							//  "		<div class=\"black\"></div>" +
							//  "		<div class=\"rp\">" +
							//  "			<div class=\"icon\">RP</div>" +
							//  "			<div class=\"point\">10,000</div>" +
							//  "		</div>" +
							//  "		<a href=\"#\" class=\"btn\">VOTE</a>" +
							//  "	</div>" +
							//  "	<div class=\"txtBox\">아프리카 TV <span>외질혜</span></div>" +
							//  "</div>";						 
						 	
//					 }
				} else { // 데이터 에러
					 console.log("Data Error : " + result.message);
				}
				$(".todayBJ").html(contentsTodayBj);
				console.log("#### updateTodayBj 컨트롤러 ajax - success");
			}, error: function(xhr, status, errorThrown){
				console.log("통신에러 : " + errorThrown);
				console.log("#### updateTodayBj 컨트롤러 ajax - error");
			}
		}); // end of ajax : updateTodayBj
	}

//esther
	function updateNewBj () {
		$.ajax({
			type: "GET",
			url: "/ajax/update_newbj", // 확실하지 않음!
			crossDomain: false,
			contentType: "application/json",
			processData: false,
			dataType: "json",
			success: function(data) {
				var result = $.parseJSON(JSON.stringify(data));
				var data = $.parseJSON(result);
				let contentsNewBj;

				if( result.status === true ) {
					contentsNewBj = "<div class='swiper-wrapper'>" ;

					for ( let i = 0; i < 11; i++ ) {
						"<div class='swiper-slide viewPrnt'> " +
						"	<div class='card viewChld bj0"+(i+1)+"'> " +
						"		<div class='parent'> " +
						"			<div class='viewChld child'> " +
						"				<div class='content'></div> " +
                        "			</div> " +
						"			<div class='trans_txt pc-only'> " +
						"				<span class='trans_txt pc-only'>data[i].name</span> " +
						"			</div> " +
						"			<div class='btnb'> " +
						"				<a href='#'>VOTE</a> " +
						"				<a href='#' id='like' class='mobile-hide'><img src='https://img.castvot.com/img/icon_hrt_wh.png' alt=''></a> " +
						"			</div> " +
						"		</div> " +
						"	</div> " +
						"	<ul class='ul_count pc-only'> " +
						"		<li><span>data[i].total</span><div class='ibg coin'></div></li> " +
						"		<li><span>13,373</span><div class='ibg hrt'></div></li> " +
						"	</ul> " +
						"	<ul class=> " +
						"		<li>data[i].active_area</li> " +
						"		<li><b>data[i].name</b></li> " +
						"	</ul> " +
						"</div> " ;

						$(".bj0"+i+1).attr("style", "background: url('data["+i+"].photo");
					}
				} else { //데이터에러
					console.log("Data Error: " + result.message);
					return;
				}

			}, error: function ( xhr, status, errorThrown ) {
				console.log("통신에러 : " + xhr.responseText );
			}
		});
	}

// -----------------------------esther------------------------------------

	$(document).ready(function () {
        // 첫번째 업데이트
		updateNewBj();
		updateHotBj();
		updateTodayBj();
		// setInterval(updateData, 5000);
	});


</script>


<!-- 슬라이더 script -->
<script src="./js/swiper.min.js"></script>

<script>

	$(function (){
	 	$('.dep2').on('click', function() {
	 		$(this).toggleClass('openLi');
	 	});
	});

	$(document).ready(function () {

		$(window).resize(function() {
			FixWindowSize();
			FixWindowSize_2();
			FixWindowSize_3();
			FixWindowSize_4();
			FixWindowSize_5();
			FixWindowSize_6();
		});
		FixWindowSize();
		FixWindowSize_2();
		FixWindowSize_3();
		FixWindowSize_4();
		FixWindowSize_5();
		FixWindowSize_6();
	});



	// 슬라이더 script
	var swiper1 = new Swiper();
	var swiper2 = new Swiper();
	var swiper3 = new Swiper();
	var swiper4 = new Swiper();
	var swiper5 = new Swiper();
	var swiper6 = new Swiper();

	function FixWindowSize(){
		if(swiper1.size) {
			swiper1.init();
			swiper1.destroy(false, false);
			swiper1 = new Swiper();
		}

		if (matchMedia("screen and (max-width: 768px)").matches) {
			swiper1 = new Swiper('.hotBJ .swiper-container', {
				observer: true,
				observeParents: true,
				slidesPerView: 1,
				spaceBetween: 30,
				slidesPerGroup: 1,
				loop: true,
				loopFillGroupWithBlank: true,
				pagination: {
					 el: '.swiper-pagination',
					 clickable: true,
				},
				navigation: {
					 nextEl: '.swiper-button-next',
					 prevEl: '.swiper-button-prev',
				},
			});
		}
	}
	function FixWindowSize_2(){
		if(swiper2.size) {
			swiper2.init();
			swiper2.destroy(false, false);
			swiper2 = new Swiper();
		}

		if (matchMedia("screen and (max-width: 425px)").matches) {
			swiper2 = new Swiper('.newBJ .swiper-container', {
				observer: true,
				observeParents: true,
				slidesPerView: 1,
				spaceBetween: 10,
				slidesPerGroup: 1,
				loop: true,
				loopFillGroupWithBlank: true,
				pagination: {
					 el: '.swiper-pagination',
					 clickable: true,
				},
				navigation: {
					 nextEl: '.swiper-button-next',
					 prevEl: '.swiper-button-prev',
				},
			});

		}
	}


	function FixWindowSize_3() {
		if(swiper3.size) {
			swiper3.init();
			swiper3.destroy(false, false);
			swiper3 = new Swiper();
		}

		if (matchMedia("screen and (min-width: 426px) and (max-width: 768px)").matches) {
			swiper3 = new Swiper('.newBJ .swiper-container', {
				observer: true,
				observeParents: true,
				slidesPerView: 2,
				spaceBetween: 20,
				slidesPerGroup: 2,
				loop: true,
				loopFillGroupWithBlank: false,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
		}
	}


	function FixWindowSize_4() {
		if(swiper4.size) {
			swiper4.init();
			swiper4.destroy(false, false);
			swiper4 = new Swiper();
		}

		if (matchMedia("screen and (min-width: 768px)").matches) {
			swiper4 = new Swiper('.newBJ .swiper-container', {
				observer: true,
				observeParents: true,
				slidesPerView: 4,
				spaceBetween: 10,
				slidesPerGroup: 4,
				loop: true,
				loopFillGroupWithBlank: false,
				pagination: {
					 el: '.swiper-pagination',
					 clickable: true,
				},
				navigation: {
					 nextEl: '.swiper-button-next',
					 prevEl: '.swiper-button-prev',
				},
			});
		};
	}


	function FixWindowSize_5() {
		if(swiper5.size) {
			swiper5.init();
			swiper5.destroy(false, false);
			swiper5 = new Swiper();
		}

		if (matchMedia("screen and (max-width: 425px)").matches) {
			swiper5 = new Swiper('.hotTV .swiper-container', {
				observer: true,
				observeParents: true,
				slidesPerView: 1,
				spaceBetween: 5,
				slidesPerGroup: 1,
				loop: true,
				loopFillGroupWithBlank: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
		}
	}


	function FixWindowSize_6() {
		if(swiper6.size) {
			swiper6.init();
			swiper6.destroy(false, false);
			swiper6 = new Swiper();
		}

		if (matchMedia("screen and (min-width: 426px) and (max-width: 768px)").matches) {
			swiper6 = new Swiper('.hotTV .swiper-container', {
				observer: true,
				observeParents: true,
				slidesPerView: 2,
				spaceBetween: 5,
				slidesPerGroup: 2,
				loop: true,
				loopFillGroupWithBlank: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
		};
	}
</script>
</html>
