<% include ./include/header %>

    <section class="hasbg">
        <div class="bgBox">
            <div class="sub_content marginTop" style="margin: 140px auto 200px">
                <h4>검색결과</h4>
                <div class="databox notfound">
                    <img src="./img/notfound.png" alt="검색결과가 없습니다.">
                    <a href="#">메인으로가기</a>
                </div>
            </div><!-- //sub_content-->
        </div>
    </section>
    
    <% include ./include/footer %>

</div>
</body>
</html>
