<% include ./include/header %>

<section class="hasbg">
    <div class="bgBox">
        <div class="sub_content marginTop" style="margin: 120px auto 170px">
            <h4>파트너</h4>
            <div class="databox partners">
                <ul class="ulpartner">
                    <li>
                        <a href="http://www.njell.com/main/index.php" target="_blank">
                            <img src="./img/partners/partners_03_03.png" alt="제휴사엔젤네일스티커">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ultrav.co.kr/ko/index.php" target="_blank">
                            <img src="./img/partners/partners_06.png" alt="제휴사울트라브이">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jelimps.com/main.php" target="_blank">
                            <img src="./img/partners/partners_07.png" alt="제휴사제림성형외과">
                        </a>
                    </li>
                </ul>
                
            </div>
        </div><!-- //sub_content-->
    </div>
</section>
    
    <% include ./include/footer %>

</div>
</body>
</html>
