<% include ./include/header %>

    <section class="noticeES">
        <div class="sub_content">
            <p class="m_size"><img src="http://placehold.it/1620x300/ccc" width="100%" alt="준비중페이지"></p>
        </div>
    </section>

    <% include ./include/footer %>

</div>
</body>
</html>
