<div class="search">
    <div>
        <input id="inputName" type="text" placeholder="후보검색" maxlength="32" minlength="2"/><img id="src_icon" src="https://img.castvot.com/img/search.png" alt="search"/>
    </div>
</div>

