<footer>
    <nav>
        <ul>
            <li><a href="/bfc2/support/companyinfo">회사소개</a></li>
            <li><a href="/bfc2/support/policy">이용안내</a></li>
            <li><a href="/bfc2/support/privacy">개인정보보호수집이용동의</a></li>
            <li><a href="/bfc2/support/youth">청소년보호정책</a></li>
            <li><a href="/bfc2/support/nomail">이메일수집금지정책</a></li>
        </ul>
    </nav>
    <div>
        <p>회사명 : 주식회사 캐스팅보트솔루션&emsp;|&emsp;회사번호 : <a href="tel:02-2015-7634">02-2015-7634</a>&emsp;|&emsp;회사메일 : <a href="mailto:info@castvot.com">info@castvot.com</a>
            <br>copyright ⓒ 2018 Casting Vote Solution. All Rights Reserved.</p>
    </div>
</footer>
<div class="moveTop">↑</div>
