<div id=count>
    <p>투표 종료</p>
    투표가 종료되었습니다. 성원에 감사드립니다.
    <!-- <table>
        <tr>
            <td>Day</td>
            <td>Hours</td>
            <td>Minutes</td>
            <td>Seconds</td>
        </tr>
        <tr>
            <td><span id=counter1></span></td>
            <td><span id=counter2></span></td>
            <td><span id=counter3></span></td>
            <td><span id=counter4></span></td>
        </tr>
    </table> -->
</div>

<!-- <script>

    function getTime() {
        now = new Date();
        dday = new Date(2018,09,07,22,00,00); // 원하는 날짜, 시간 정확하게 초단위까지 기입.
        days = (dday - now) / 1000 / 60 / 60 / 24;
        daysRound = Math.floor(days);
        hours = (dday - now) / 1000 / 60 / 60 - (24 * daysRound);
        hoursRound = Math.floor(hours);
        minutes = (dday - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
        minutesRound = Math.floor(minutes);
        seconds = (dday - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
        secondsRound = Math.round(seconds);

        document.getElementById("counter1").innerHTML = daysRound;
        document.getElementById("counter2").innerHTML = hoursRound;
        document.getElementById("counter3").innerHTML = minutesRound;
        document.getElementById("counter4").innerHTML = secondsRound;
        newtime = window.setTimeout("getTime();", 1000);
    }

    getTime();
</script> -->

<div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar1 -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:285px;height:600px"
    data-ad-client="ca-pub-4833634846811738"
    data-ad-slot="1059549317"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
