
<% include ../include/header %>

    <section>
        <div class="sub_content">
            <div class="main_txt">회사소개</div>
            <div class="txtBox">
                <img src="https://img.castvot.com/img/companyImg.png" />
<a href="https://castvot.com/" target="_blank"><img src="https://img.castvot.com/img/cvs_logo.png" alt="캐스팅보트솔루션 로고"></a> 을 소개합니다.<br><br>

캐스팅보트솔루션은 우리의 투표 플랫폼을 ‘아무나 와서 놀 수 있는 공간’이라고 정의합니다.<br>
캐스팅보트솔루션에게 투표란 나의 관심과 애정을 표현하는 일이기 때문입니다.<br><br>

수 많은 오디션 프로그램과 엔터 산업에서 투표 시스템을 도입하고 있습니다.<br>
캐스팅보트솔루션은 기존의 SMS 문자투표시스템에 블록체인 기술을 병합한 가상화폐 기반 투표 플랫폼입니다. <br>
국경 없는 온라인 투표 시스템으로, 기존의 SMS 문자투표 시스템의 단점을 보완했습니다.<br>
별도의 ICO없이 기존 유통 코인으로 바로 투표하는 시스템으로 투표 개설자에게 수익이 발생하고 제한없이 서비스 확장이 가능합니다.<br>
특허 중인 솔루션을 보유하고 있으며 방송국, 플랫폼, 코인회사, 거래소 등 다양한 기업들와 협업을 앞두고 있습니다.<br><br>

앞으로도 캐스팅보트솔루션은 ‘내가 하고싶은 투표를, 언제 어디서나’라는 비전을 실현하기 위해 달려가겠습니다.<br><br>

[ <b>케스팅보트솔루션</b> 바로가기 : <a href="https://castvot.com/" target="_blank" style="
color: #0d98d9;">https://castvot.com/</a> ]<br>
                </div>
        </div>
    </section>

<% include ../include/footer %>

</div>
</body>
</html>
