<% include ./include/header %>
            
            <div id="sub">
               <div class="sub_top">
                    <div id="content" class="sub_content_bg">
                       <!-- 후보추천 -->
                        <div class="preparing">
                            <img src="https://img.castvot.com/img/preparing.jpg" alt="준비중입니다.">
                        </div>
                        
                    </div><!-- content -->
                                     
                    <!-- 배너 5개 -->
                    <div id="banner_list">
                            <% include ./include/right_ad %>
                    </div>  
                
                </div><!-- main_top -->
            </div><!-- main -->
                
            <% include ./include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
