<% include ./include/header %>

            <div id="sub">
               <div class="sub_top">
                    <div id="content" class="sub_content_bg">
                       <!-- 후보추천 -->
                        <div>
                            <div class="main_txt">보팅 어워즈</div>
                            <div class="voteImg"><img src="https://img.castvot.com/img/voteImg.jpg" alt="보팅어워즈설명"></div>
                            <div class="txtBox">
                                국민남친 최종1위로 선정된 후보자에게는 '삼성역 지하철와이드칼라 광고 1개월' + 'Ranking point(=투표된 암호화폐) 100%'가 전달됩니다.<br>
                                1위에 선정되지 못한 후보자들에게도 'Ranking point(=투표된 암호화폐) 100%'가 전달됩니다.<br><br>

                                예) 국민남친 후보자인 홍길동의 Ranking point 200(=리플 50개+퀀텀 50개)이면, 그에 해당하는 암호화폐인 '리플 50개+퀀텀 50개'가 후보자에게 최종 전달되게 됩니다. <br>
                                만약, 후보자가 '보팅어워즈' 인수를 거절할 경우, 팬들의 이름으로 구호단체에 기부됩니다.<br> <br>
<br>

                            </div>


                        </div>

                    </div><!-- content -->

                    <!-- 배너 5개 -->
                    <div id="banner_list">
                            <% include ./include/right_ad %>
                    </div>
                </div>

            </div> <!-- sub -->

            <% include ./include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
