<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" sacn="true" scanPeriod="30 seconds">

	<property resource="/properties/${spring.profiles.active}/logback-config.properties"/>

	<!-- 설정에서 사용될 어트리뷰트들 -->
	<property name="LOG_LEVEL" value="${log.config.level}" />
	<property name="LOG_DIR" value="${log.config.dir}" />
	<property name="FILE_NAME" value="${log.config.file.name}" />
	<property name="MAX_HISTORY" value="${log.config.history.day}"/>
	<property name="MAX_FILE_SIZE" value="${log.config.file.size}"/>

	<!-- Console Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-42(%date [%thread]) %-5level %logger{35} -%msg%n</pattern>
		</encoder>
	</appender>

	<!-- 파일 Appender 속성 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 저장될 파일 경로 설정 -->
		<file>${LOG_DIR}/${FILE_NAME}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<!-- 저장될 파일명 패턴 -->
			<fileNamePattern>${LOG_DIR}/archive/${FILE_NAME}-%d{yyyy-MM-dd}</fileNamePattern>

			<!-- 저장 기간 -->
			<maxHistory>${MAX_HISTORY}</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>

		</rollingPolicy>
		<encoder>
			<!-- 로그 출력 패턴 설정 -->
			<pattern>%-42(%date [%thread]) %-5level %logger{35} -%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<!-- 최상위 로그 설정 -->
	<root level="${LOG_LEVEL}">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
