<% include ../include/header %>

    <section class="listpage">
        <% include ../include/s_visual %>
        <div class="bgBox">
            <div class="sub_content">
                <h4>갤러리</h4>
                <div class="mainList">
                    <ul>
                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="iframe">
                                    <iframe src="https://www.youtube.com/embed/n7wsTH1Jmwo" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="iframe">
                                    <iframe src="https://www.youtube.com/embed/n7wsTH1Jmwo" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="iframe">
                                    <iframe src="https://www.youtube.com/embed/n7wsTH1Jmwo" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="listImg">
                                <div class="galleryImg"></div>
                                <div class="hoverBox">
                                    <div>
                                        <span>아프리카TV</span>
                                        <span>샤오롱바오</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div><!-- //sub_content-->
    </section>

    <div id="popbg" class="popbg"></div>
    <div id="popup" class="gallPop">
        <div class="title"><span>샤오롱바오</span>님 이미지<img src="https://img.castvot.com/img/icon_closeW.png" alt="닫기버튼"></div>
        <div class="popBox">
            <div>
              <div class="gallLeft">
                <div class="listImg">
                    <div class="galleryImg"></div>
                </div>
              </div>
              <div class="gallRight">
                <ul>
                  <li>
                    <div class="listImg">
                        <div class="galleryImg"></div>
                    </div>
                  </li>
                  <li>
                    <div class="listImg">
                        <div class="galleryImg"></div>
                    </div>
                  </li>
                  <li>
                    <div class="listImg">
                      <div class="iframe">
                          <iframe src="https://www.youtube.com/embed/n7wsTH1Jmwo" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listImg">
                        <div class="galleryImg"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="btn_center"><a href="#" class="btn_close btn_pink" id="btn_close">투표하러 가기</a></div>
    </div>



</section>

<% include ../include/footer %>

</div>

<script>

popupOn('.listImg', '.gallPop', '.popbg');
popupOff('.gallPop .title>img');
popupOff('.gallPop #btn_close');

</script>
</body>
</html>
