<% include ../bfc3_view/include/header %>

<section>
        <div class="sub_content">
            <p class="m_size"><img src="./img/serviceReady.png" / alt="준비중입니다"></p>
        </div>
    </section>
<% include ../bfc3_view/include/footer %>

</div>
</body>
</html>
