<% include ../bfc3_view/include/header %>

<section>

        <div class="awardsBox sub_content">
            <div class="main_txt">보팅어워즈</div>
            <img src="https://img.castvot.com/img/awardsImg.jpg" alt="awardsImg">
            <div class="txtBox">
                국민남친 최종1위로 선정된 후보자에게는<br>
                'Ranking point(=투표된 암호화폐) 100% + 도심관광투어버스 3면 광고 1개월 + 온라인 홍보 기사' 가 전달됩니다.<br>
                1위에 선정되지 못한 후보들에게도 Ranking point(=투표된 암호화폐) 100%가 전달됩니다.<br>
                후보자가 보팅어워즈 인수를 거절하거나 후보에게 모인 Ranking point가 100이하일 경우, 후보자의 이름으로 '국제구호단체 기아대책(<a href="http://www.kfhi.or.kr" target="_blank">www.kfhi.or.kr</a>)'에 기부됩니다.
            </div>
        </div>

    </section>
<% include ../bfc3_view/include/footer %>

</div>
</body>
</html>
