<div id="footer">
    <div class="footer_top">
        <div class="menuBox">
            <div class="sns">
                <p>copyright ⓒ 2018 Casting Vote Solution HK Limited. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div><!-- //footer -->