<div id="footer">
   <div class="footer_top">
      <div class="fLogo"><a href="/support/company"><img src="https://img.castvot.com/img/footerLogo.png" alt="회사소개 go"></a></div>
      <div class="menuBox">
          <ul class="fMenu">
              <li onclick="location.href='/support/company';">회사소개</li>
              <li onclick="location.href='/support/policy';">이용안내</li>
              <li onclick="location.href='/support/privacy';">개인정보보호수집이용동의</li>
              <li onclick="location.href='/support/youth';">청소년보호정책</li>
              <li onclick="location.href='/support/nomail';">이메일수집금지정책</li>
          </ul>
          <ul class="fInfo">
             <li>회사명 : 캐스팅보트솔루션홍콩유한회사</li>
             <li>대표번호 : +852-3469-5353</li>
             <li>회사메일 : <a href="tomail:info@castvot.com">info@castvot.com</a></li>
          </ul>
          <div class="sns">
             <p>copyright ⓒ 2018 Casting Vote Solution HK Limited. All Rights Reserved.</p>
             <div class="snsCom">
                <div><a href="https://www.facebook.com/castvot" target="_blank"></a><img src="https://img.castvot.com/img/f_facebook.png" alt="페이스북"></div>
                <div><a href="https://twitter.com/ohdeang3279" target="_blank"></a><img src="https://img.castvot.com/img/f_twitter.png" alt="트위터"></div>
                <div><a href="https://www.instagram.com/castvotsolution" target="_blank"></a><img src="https://img.castvot.com/img/f_insta.png" alt="인스타그램"></div>
            </div>
         </div>
      </div>
   </div>
</div><!-- //footer -->
<div class="moveTop">↑</div>
