<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워너STAR</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://img.castvot.com/css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://img.castvot.com/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://img.castvot.com/css/swiper.css">
    <link rel="shortcut icon" href="https://img.castvot.com/faviconStar.ico">
    <style>
        #footer{ width: 100%; background: #141827; border-top: 1px solid #aaa; }
        .footer_top { position: relative; max-width: 1000px; height: auto; margin: 0 auto; overflow: hidden; font-size: 14px;  }
        .footer_top > div { float: left; margin: 20px 0; line-height: 2;  }
        .menuBox { width: 100%; }
        .menuBox .sns { width: 100%; text-align: center;}
        .menuBox .sns p { display: block; margin: 0 auto; float: none; width: auto; font-size: 12px; color: #aaa; }
    </style>

    <script src="https://img.castvot.com/js/jquery-2.1.1.min.js"></script>
    <script src="https://img.castvot.com/js/jquery-ui.js"></script>
    <script src="https://img.castvot.com/js/bj.js"></script>
</head>
<body>
<div id="wrap">
    <div class="navbar">
        <a href="#">
            <span class="bar-1"></span>
            <span class="bar-2"></span>
            <span class="bar-3"></span>
        </a>
    </div>
    <header>
        <div class="logo" onclick="location.href='/'"><img src="https://img.castvot.com/img/logo.png" alt="logo" /></div>
        <div class="search">

        </div>
        <div id="bg" class="bg"></div>
        <nav>

        </nav>
    </header>
