<div class="s_visual">
    <div class="mainImg">
        <div class="txtBox">
            <div>
                <img src="https://img.castvot.com/img/logo_ver02.png">
                <h2>해돋이를 함께 보고싶은</h2>
                <h3><b>워너STAR</b> 픽미픽미픽미업~</h3>
                <p>등록기간 : 2018.12.3 ~ 투표마감까지</p>
            </div>
        </div>
    </div>
</div>
