<% include ../include/header %>

            <div id="sub">
               <div class="sub_top">
                    <div id="content" class="sub_content_bg nohover">
                       <!-- 후보추천 -->
                        <div>
                            <div class="main_txt">공지사항</div>
                            <table class="list_table">
                                <tr class="left bold">
                                    <td>제목</td>
                                    <td colspan="3">
                                        투표 결과 및 보팅어워즈 관련 안내드립니다.
                                    </td>
                                </tr>
                                <tr class="left bold">
                                    <td>작성자</td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>등록일자</td>
                                    <td>2018-10-15</td>
                                </tr>
                                <tr class="left list_txt">
                                    <td rowspan="4" colspan="4">
캐스팅보트솔루션의 첫번째 프로젝트, 국민남친선발대회에 큰 관심과 성원을 보내주셔서 감사합니다. 총 22명의 국민남친후보가 추천되었으며, 그 중 그룹 아스트로의 ‘차은우’님이 랭킹포인트 13.968을 기록하며 최종 국민남친 1위에 올랐습니다.<br><br>

투표 전 안내사항으로 공지 했듯이, 후보의 랭킹포인트가 100포인트 이하일 경우 전액 팬들의이름으로 구호단체에 기부됩니다. 22명의 후보 앞으로 한화 60만원 가량의 금액이 모금되었으며 이 금액은 100% 국제구호단체 기아대책(www.kfhi.or.kr)에 전달될 예정입니다.<br>
또한 최종 국민남친1위에 등극한 후보(차은우님)의 이미지가 담긴 포스터가 강남역 or 삼성역에 11월 한 달 동안 게시될 예정입니다.   <br><br>

보내주신 사랑과 관심에 보답하기 위해 항상 힘쓰는 캐스팅보트솔루션이 되겠습니다.<br>
보팅어워즈 이행 결과는 국민남친선발대회2 홈페이지에서 확인하실 수 있습니다.<br>
한층 업그레이드 된 국민남친선발대회2에도 많은 관심 부탁드립니다.<br>
감사합니다:) <br><br>

<b>국민남친선발대회2가 궁금하다면?</b><br>
<a href="/bfc2" style="color:#5b5b5b;">https://bfc.castvot.com/bfc2</a><br>
<br>
                                    </td>
                                </tr>
                            </table>


                        </div>

                            <ul class="botton_right">
                                <li><a href="/notice">목록</a></li>
                            </ul>

                    </div><!-- content -->

                    <!-- 배너 5개 -->
                    <div id="banner_list">
                            <% include ../include/right_ad %>
                    </div>
                </div>

            </div> <!-- sub -->

            <% include ../include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
