<% include ../include/header %>

            <div id="sub">
               <div class="sub_top">
                    <div id="content" class="sub_content_bg nohover">
                       <!-- 후보추천 -->
                        <div>
                            <div class="main_txt">공지사항</div>
                            <table class="list_table">
                                <tr class="left bold">
                                    <td>제목</td>
                                    <td colspan="3">
                                        “국민남친선발대회” 퀀텀 투표 안내입니다.
                                    </td>
                                </tr>
                                <tr class="left bold">
                                    <td>작성자</td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>등록일자</td>
                                    <td>2018-09-20</td>
                                </tr>
                                <tr class="left list_txt">
                                    <td rowspan="4" colspan="4">
                                        안녕하세요. Casting Vote Solution입니다.<br>

                                        퀀텀 투표 안내사항 공지입니다.<br><br>

                                        현재 퀀텀 투표 결과는 실시간으로 반영되고 있지 않습니다. <br>
                                        서비스 이용에 불편을 드려 죄송합니다.<br><br>
                                        감사합니다.<br>

                                    </td>
                                </tr>
                            </table>


                        </div>

                            <ul class="botton_right">
                                <li><a href="/notice">목록</a></li>
                            </ul>

                    </div><!-- content -->

                    <!-- 배너 5개 -->
                    <div id="banner_list">
                            <% include ../include/right_ad %>
                    </div>
                </div>

            </div> <!-- sub -->

            <% include ../include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
