<% include ../include/header %>

            <div id="sub">
               <div class="sub_top">
                    <div id="content" class="sub_content_bg nohover">
                       <!-- 후보추천 -->
                        <div>
                            <div class="main_txt">공지사항</div>
                            <table class="list_table">
                                <tr class="left bold">
                                    <td>제목</td>
                                    <td colspan="3">
                                        “국민남친선발대회” 투표 안내입니다.
                                    </td>
                                </tr>
                                <tr class="left bold">
                                    <td>작성자</td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>등록일자</td>
                                    <td>2018-09-20</td>
                                </tr>
                                <tr class="left list_txt">
                                    <td rowspan="4" colspan="4">
                                        안녕하세요. Casting Vote Solution입니다.<br>
                                        투표 안내사항 공지입니다.<br><br>
                                        등록된 후보에 투표하실 때 리플계좌에 20코인이 들어간 상태일 것입니다.<br>
                                        이는 리플사에서 만든 코인 알고리즘때문으로, 리플은 최소 20코인을 가지고 있어야 리플사 서버에 코인 계좌가 정상적으로 등록이 됩니다.<br>
                                        최종 보팅어워드를 산정할 때엔 최초 20코인을 제외한 보팅어워드가 산정됨을 숙지하시기 바랍니다. <br><br>

                                        언제나 재미있는 투표 시스템을 만들기 위해 노력하는 캐스팅보트솔루션이 되겠습니다.<br><br>
                                        감사합니다.<br>

                                    </td>
                                </tr>
                            </table>


                        </div>

                            <ul class="botton_right">
                                <li><a href="/notice">목록</a></li>
                            </ul>

                    </div><!-- content -->

                    <!-- 배너 5개 -->
                    <div id="banner_list">
                            <% include ../include/right_ad %>
                    </div>
                </div>

            </div> <!-- sub -->

            <% include ../include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
