<% include ../include/header %>

            <div id="sub">
               <div class="sub_top">
                    <div id="content" class="sub_content_bg">
                       <!-- 후보추천 -->
                        <div>
                            <div class="main_txt">공지사항</div>
                            <table class="tg_notice">
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>등록일자</th>
                                </tr>
                                <tr class="bold red">
                                    <td>필독</td>
                                    <td><a href="/notice/1" style="color:red;">투표하기전에 꼭 읽어보세요 !</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-09-07</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><a href="/notice/7">투표 결과 및 보팅어워즈 관련 안내드립니다.</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-10-15</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><a href="/notice/6">“국민남친선발대회” 퀀텀 투표 재안내입니다.</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-09-21</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a href="/notice/5">“국민남친선발대회” 퀀텀 투표 안내입니다.</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-09-20</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="/notice/4">“국민남친선발대회” 투표 안내입니다.</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-09-20</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="/notice/3">“국민남친선발대회” 투표 기간 재공지 입니다.</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-09-17</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="/notice/2">"국민남친선발대회" 서비스 오픈안내입니다.</a></td>
                                    <td>캐스팅보트솔루션</td>
                                    <td>2018-09-07</td>
                                </tr>
                            </table>

                        </div>

                    </div><!-- content -->

                    <!-- 배너 5개 -->
                    <div id="banner_list">
                            <% include ../include/right_ad %>
                    </div>
                </div>

            </div> <!-- sub -->

            <% include ../include/footer %>

        </div> <!-- wrap -->
    </body>
</html>
