<% include ../include/header %>

    <section>
        <div class="sub_content">
            <div class="main_txt">공지사항</div>
            <table class="list_table">
                <tr class="bold">
                    <td>제목</td>
                    <td colspan="3" class="noticeTitle">
                        국민남친선발대회 시즌2 공지사항
                    </td>
                </tr>
                <tr class="bold">
                    <td>작성자</td>
                    <td>캐스팅보트솔루션</td>
                    <td>등록일자</td>
                    <td>2018-11-14</td>
                </tr>

                <tr class="list_txt">
                    <td rowspan="4" colspan="4">
반갑습니다! Casting Vote Solution 입니다.<br><br>

열화와 같은 성원 끝에 ‘국민남친선발대회 시즌1’에서는 '차은우'님께서 국민남친으로 선발이 되었습니다. 축하드립니다^^<br><br>

선발되신 '차은우'님께는 11월 한 달간 '삼성역 지하철광고 게재'와 차은우님의 팬덤이름으로의 '기부'가 이루어질 예정입니다.<br><br>

그리고 아쉽게 국민남친으로 선발되지는 못한 나머지 우리 국민남친 후보님들에게는 각자의 팬덤 이름으로의 기부가 이루어질 예정이니 너무 아쉬워하지는 말아주세요^^~<br><br>

모두들 너무 축하드립니다^^!!
                    </td>
                </tr>
            </table>
            <div class="btn_right">
                <a href="/bfc3/notice" class="button">목록</a>
            </div>
        </div>

    </section>
<% include ../include/footer %>

</div>
</body>
</html>
