<% include ../include/header %>

    <section>
        <div class="sub_content">
            <div class="main_txt">공지사항</div>
            <table class="list_table">
                <tr class="bold">
                    <td>제목</td>
                    <td colspan="3" class="noticeTitle">
                        "국민남친선발대회" 서비스 오픈안내입니다.
                    </td>
                </tr>
                <tr class="bold">
                    <td>작성자</td>
                    <td>캐스팅보트솔루션</td>
                    <td>등록일자</td>
                    <td>2018-11-14</td>
                </tr>

                <tr class="list_txt">
                    <td rowspan="4" colspan="4">
안녕하세요. Casting Vote Solution입니다.<br>
‘국민남친선발대회2’ 서비스 오픈 안내입니다.<br><br>

Global 투표 혁명, 이번엔 ‘국민남친’이다!<br><br>

한국은 너무 좁다? 이젠 전세계다!<br>
전 세계 한류팬들이 참여할 수 있는 신개념 투표 시스템!! <br><br>

전 세계의 팬들을 대상으로 최애를 국민남친으로<br>
등극시킬 수 있는 절호의 기회!!<br><br>

국민 오빠로 선발이 되면~?<br><br>

Ranking point(=투표된 암호화폐) 100%’ + ‘도심관광투어버스 3면 광고 1개월 + 온라인 홍보 기사 가 전달됩니다.<br>
1위에 선정되지 못한 후보들에게도 Ranking point(=투표된 암호화폐) 100%가 전달됩니다.<br>
만약 후보자가 ‘보팅 어워즈’를 거절하거나 후보에게 모인 Ranking point가 100이하일 경우, <br>
후보자의 이름으로 구호단체에 기부된다는 사실!<br><br>

한국을 넘어, 전 세계의 팬들을 대상으로 펼쳐지는 국민남친선발대회2 !!<br>
과연 우리 오빠는 전세계에서도 국민남친으로 인정받을 수 있을 것인가!!?
<br><br><br>


- <b>후보자 등록 시작 시간</b> : 18.10.12 금요일 (대한민국 기준)<br>
- <b>후보자 등록 마감 시간</b> : 18.10.21 일요일 (대한민국 기준)<br>
- <b>투표 시작 시간</b> : 18.10.22 월요일 (대한민국 기준)<br>
- <b>투표 마감 시간</b> : 18.11.12 일요일 (대한민국 기준)<br>
<!-- - <b>보팅 어워즈 수여 시간</b> : 18.11.12 일요일 (대한민국 기준, 코인마켓 캡 기준)<br><br>
※보팅 어워즈 수여 시간은 당사자의 사정에 의해 변동될 수 있음<br> -->

                                    </td>
                </tr>
            </table>
            <div class="btn_right">
                <a href="/bfc3/notice" class="button">목록</a>
            </div>
        </div>

    </section>
<% include ../include/footer %>

</div>
</body>
</html>
