<% include ../include/header %>

    <section>
        <div class="sub_content">
            <div class="main_txt">공지사항</div>
            <table class="list_table">
                <tr class="bold">
                    <td>제목</td>
                    <td colspan="3" class="noticeTitle">
                        국민남친선발대회 시즌1 보팅어워즈 결과 안내
                    </td>
                </tr>
                <tr class="bold">
                    <td>작성자</td>
                    <td>캐스팅보트솔루션</td>
                    <td>등록일자</td>
                    <td>2018-11-14</td>
                </tr>

                <tr class="list_txt">
                    <td rowspan="4" colspan="4" class="txtBox">
<img src="https://img.castvot.com/img/donations.png" alt="기부금전달이미지" class="donations"><br>
안녕하세요. Casting Vote Solution입니다.<br><br>
국민남친선발대회 시즌1에 보내주신 성원에 감사드립니다.<br>
사전에 공약한 대로, ㈜캐스팅보트솔루션은 각 후보 앞으로 모인 랭킹포인트를 회사 내규에 따라 ‘국제구호단체 기아대책(<a href="http://www.kfhi.or.kr" target="_blank">www.kfhi.or.kr</a>)'에 전달했습니다.<br><br>
더 많은 분들이 국민남친선발대회 투표에 참여할수록 구호단체에 전달되는 액수가 커질 것입니다.<br>
앞으로도 재미있는 이벤트를 통해 사회적 가치를 창출하는 데 앞장 서겠습니다.<br>
감사합니다 :)
                    </td>
                </tr>
            </table>
            <div class="btn_right">
                <a href="/bfc3/notice" class="button">목록</a>
            </div>
        </div>

    </section>
<% include ../include/footer %>

</div>
</body>
</html>
