<% include ../include/header %>

    <section>
        <div class="sub_content">
            <div class="main_txt">공지사항</div>
            <table class="tg_notice">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일자</th>
                </tr>
                <tr class="bold red">
                    <td>필독</td>
                    <td>
                        <a href="/bfc3/notice/1" class="red">투표하기전에 꼭 읽어보세요 !</a>
                        <span>등록일자 : 2018-11-14</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018-11-14</td>
                <!-- </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <a href="/bfc3/notice/4">국민남친선발대회 시즌1 보팅어워즈 결과 안내</a>
                        <span>등록일자 : 2018-11-14</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018-11-14</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <a href="/bfc3/notice/3">국민남친선발대회 시즌2 공지사항</a>
                        <span>등록일자 : 2018-11-14</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018-11-14</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <a href="/bfc3/notice/2">국민남친선발대회 시즌2 서비스 오픈안내입니다.</a>
                        <span>등록일자 : 2018-11-14</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018-11-14</td>
                </tr> -->
            </table>
        </div>
    </section>
<% include ../include/footer %>

</div>
</body>
</html>
