<footer>
    <nav>
        <ul>
            <li><a href="https://bfc.castvot.com/bfc2/support/companyinfo2">회사소개</a></li>
            <li><a href="https://bfc.castvot.com/bfc2/support/policy2">이용약관</a></li>
            <li><a href="https://bfc.castvot.com/bfc2/support/privacy2">개인정보보호수집이용동의</a></li>
        </ul>
    </nav>
    <div>
        <p>회사명 : 주식회사 캐스팅보트솔루션&emsp;|&emsp;회사번호 : <a href="tel:02-000-0000">02-000-0000</a>&emsp;|&emsp;회사메일 : <a href="mailto:castvot@castvot.com">castvot@castvot.com</a>
            <br/>copyright ⓒ 2018 Casting Vote Solution. All Rights Reserved.</p>
    </div>
</footer>
<div class="moveTop">↑</div>