             <div id="footer">
                <div class="footer_top">
                    <p>
                        2018 | CASTING VOTE SOLUTION HK LIMITED  | 전화번호 : <a href="tel:852-3469-5353">852-3469-5353</a> | 문의/고객센터 : <a href="mailto:info@castvot.com">info@castvot.com</a><br>

                        주소 : 19th Floor, West Exchange Tower, 322 Des Voeux Rd Central, Sheung Wan<br><br><a href="/support/policy">이용안내</a> | <a href="/support/privacy">개인정보처리방침</a> | <a href="/support/youth">청소년보호정책</a> | <a href="/support/nomail">이메일수집금지</a>
                    </p>
                </div>
                </div>
  <!--           </div> footer end -->
