<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="author" content="국민남친선발대회" width=device-width, initial-scale=1, viewport-fit=cover>
        <title>국민남친선발대회 <%= typeof title !== 'undefined' ? " - " + title : "" %></title>
        <meta name="description" content="국민남친, 남친돌, 최애돌, 남자아이돌순위, 남돌순위, 남자연예인순위, 남자연예인인기순위, 국대돌, 국민아이돌, 워너원, 프로듀스101, 강다니엘, 마이픽, 픽미, 에릭남, 박보검, 정해인, 서강준, 로맨스패키지, 하트시그널, 이제훈, 국민첫사랑, 권현빈, 정효준, 남주혁, 한>국남돌순위, 한국남자연예인순위, 국민배우, 1가정1에릭남, 남돌빙의글, 남자연예인빙의글, 워너원 해체일, 워너원소속사, 프로듀스101, 프로듀스101시즌2, 프듀시즌2, 프듀101시즌2,워너원굿즈, 방탄굿즈, 방탄소년단, 워너원, wannaone, 남돌팬덤, 보이그룹, 오디션프로그램, 강다니엘, 남돌연봉, 엔터수익구조, 강다니엘
        갤러리, 남자연예인갤러리, 잘생긴남자연예인, 남자연예인외모순위, 아이돌인기순위, 지드래곤갤러리, 엑소세훈갤러리, 엑소찬열갤러리, 엑소백현갤러리, 엑소첸
        갤러리, 박유천갤러리, 엑소카이갤러리, 김재중갤러리, 남자아이돌브랜드평판, 보이그룹 브랜드평판, 뉴이스트갤러리, 블락비갤러리, 블락비, 빅스갤러리, 빅스,
         젝스키스갤러리, 젝스키스, NCT 갤러리, NCT, 2PM갤러리, 2PM, 갓세븐갤러리, 갓세븐, 신화갤러리, 신화, 위너갤러리, 위너, 슈퍼주니어갤러리, 슈퍼주니어, 슈
        주, 비투비갤러리, 비투비, 샤이니갤러리, 샤이니, JBJ갤러리, JBJ, 세븐틴갤러리, 세븐틴, 인피니트갤러리, 인피니트, 빅뱅갤러리, 빅뱅, 아이콘갤러리, 아이콘
        , 워너원갤러리, 방탄소년단갤러리, 방탄갤, 방탄아미, 엑소엑소엘, 연예인지하철광고, 팬클럽지하철광고, 최애에게선물주기, 최애선물주기, 최애용돈주기,아이>
        돌기부, 남자아이돌기부, 남자연예인기부"/>

        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://img.castvot.com/css/reset.css">
	    <link rel="stylesheet" href="https://img.castvot.com/css/style.css">

        <link rel="shortcut icon" href="https://img.castvot.com/favicon.ico">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122925852-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-122925852-2');
        </script>

    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="header_top">
                    <ul class="header_left">
                        <li><a href="/">홈</a></li>
                        <li><a href="/notice">공지사항</a></li>
                        <li><a href="/support/companyinfo">회사소개</a></li>
                    </ul>
                    <a href="/" class="logo"><img src="https://img.castvot.com/img/logo.png" alt="국민남친선발대회"></a>
                    <ul class="header_right">
                        <li><a href="/prize">보팅 어워즈</a></li>
                        <li><a href="#">후보추천</a></li>
                    </ul>
                </div>
            </div>
            <!--- header end -->
