<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>국민남친선발대회2</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="https://img.castvot.com/css/style2_newboy2.css">
    <script src="https://img.castvot.com/js/jquery-2.1.1.min.js"></script>
    <script src="https://img.castvot.com/js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 위로 가기
            $(window).scroll(function () {
                var windowT = $(window).scrollTop();
                if (windowT == 0) {
                    $('.moveTop').stop().animate({'bottom': '-100px', 'opacity': '0'}, 300);
                }
                else {
                    $('.moveTop').stop().animate({'bottom': '50px', 'opacity': '1'}, 300);
                }
            });
            $('.moveTop').click(function () {
                $('.moveTop').stop().animate({'bottom': '-100px', 'opacity': '0'}, 300);
                $('html').stop().animate({'scrollTop': '0'}, 500);
            });
            $('.moreBtn').mouseenter(function () {
                $(this).find('.bg').stop().animate({'width': '0'}, 180).animate({'width': '100%'}, 150);
            });

            // 반응형일 때 햄버거 메뉴
            var cnt = 0;
            $(".navbar").click(function () {
                cnt++;
                $this = $(this);
                $this.toggleClass("after");
                $this.addClass('on');
                if (cnt % 2 == 1) {
                    $('header nav').show().stop().animate({'right': '0'}, 200);
                    $this.css('position', 'fixed');
                }
                else {
                    $('header nav').fadeOut().stop().animate({'right': '-80%'}, 100);
                    $this.css('position', 'absolute');
                }
            });

            // 메인 이미지 크기 맞추기
            if ($(window).width() > 768) {
                var boyLimgW = $('.boyList>.boyBox').eq(1).width();
                $('.boyBox>.boyPop').css('bottom', -(boyLimgW / 5) * 3 - 50 + 'px');
                $('.boyBox').height((boyLimgW / 5) * 3);
                if ($('.boyList>.boyBox').index() == 0) {
                    var boyL0imgW = $('.boyList>.boyBox').eq(0).width();
                    $('.boyBox').eq(0).height((boyL0imgW / 5) * 3 + 25);
                    $('.boyBox').eq(0).find('.boyPop').css('bottom', -(boyL0imgW / 5) * 3 - 50 + 'px');
                }

                $('.boyBox').mouseenter(function () {
                    $(this).find('.boyPop').stop().animate({'bottom': '0', 'opacity': '1'});
                });
                $('.boyBox').mouseleave(function () {
                    $(this).find('.boyPop').stop().animate({'bottom': -boyLimgW + 'px', 'opacity': '0'});
                    if ($(this).index() == 0) {
                        $(this).find('.boyPop').stop().animate({'bottom': -boyL0imgW + 'px', 'opacity': '0'});
                    }
                });
            }
            else if ($(window).width() <= 768) {
                $('.boyBox').css('width', '100%');
                var boyLMimgW = $('.boyList>.boyBox').width();
                $('.boyBox').height((boyLMimgW / 5) * 3);
            }

            // 후보목록 작은박스
            rankBoxRWB = $('.boyBox:not(.boyTop) .rankNum').height();
            rankBoxNWB = $('.boyBox:not(.boyTop) .name').height();
            rankNameB = rankBoxRWB + rankBoxNWB;
            $('.boyBox:not(.boyTop) .rankName').height(rankNameB);
            // 후보목록 1위박스
            rankTopRW = $('.boyTop .rank1').height();
            rankTopNW = $('.boyTop .name').height();
            rankTopNM = parseInt($('.boyTop .name').css('margin-top'));
            rankName = rankTopRW + rankTopNW + rankTopNM;
            $('.boyTop .rankName').height(rankName);
            // 후보목록 작은박스 숫자 원 height 맞추기
            rankNumW = $('.rankNum').width();
            $('.rankNum').height(rankNumW).css('line-height', rankNumW + 'px');
            // 후보목록 작은박스 숫자 원 자동입력
            var boxBoxnum = $('.boyList>.boyBox').length;
            for (var i = 0; i < boxBoxnum; i++) {
                $('.boyList>.boyBox').eq(i).find('.rankNum').text(i + 1);
            }
        });
    </script>
</head>
<body>
<div id="wrap" class="boyListWrap">
    <div class="navbar">
        <a href="#">
            <span class="bar-1"></span>
            <span class="bar-2"></span>
            <span class="bar-3"></span>
        </a>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">홈
                        <div class="line"></div>
                    </a></li>
                <li><a href="../notice/bfc2_list.ejs">공지사항
                        <div class="line"></div>
                    </a></li>
                <li><a href="../boylist/boylist.ejs">후보목록
                        <div class="line"></div>
                    </a></li>
                <li><a href="../bfc2_prize.ejs">보팅어워즈
                        <div class="line"></div>
                    </a></li>
            </ul>
        </nav>
        <div class="mainBox">
            <div>
                <div class="logo">
                    <a href="/bfc2"></a><img src="https://img.castvot.com/img/logo2.png" alt="로고">
                </div>
                <div class="subTxt">캐스팅보트의 두번째 프로젝트!! 국민남친선발대회 두번째 이야기!! <br/>많은 투표와 참여 부탁드립니다.</div>
                <div class="voteTime">투표기간 | 2018.10.08 ~ 2018.11.07 까지</div>
            </div>
        </div>
    </header>

