<% include ../include/header %>

    <section>
        <% include ../include/s_visual %>

        <div class="bgBox">
            <div class="sub_content">
                <h4>BJ보기</h4>
                <div class="vsbox">
                    <div class="vsbest top1">
                        <div class="vsimg">
                            <div class="black"></div>
                            <img src="../img/bj8.jpg" alt="">
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point" id="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="vstxt">
                            <p class="ranking">1위</p>
                            <p>아프리카 BJ<br /><span>이사배</span></p>
                            <ul>
                                <li><a href="">방송채널</a></li>
                                <li><a href="">팬클럽</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>VS</div>
                    <div class="vsbest top2">
                        <div class="vsimg">
                            <img src="../img/bj9.jpg" alt="">
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="vstxt">
                            <p class="ranking">2위</p>
                            <p>아프리카 BJ<br /><span>외질혜</span></p>
                            <ul>
                                <li><a href="">방송채널</a></li>
                                <li><a href="">팬클럽</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- //vsbox-->
            </div><!-- //sub_content-->


            <div class="sc02">
                <div class="newBJ">
                    <div class="title" style="display: none;"><h4>NEW BJ</h4></div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj04.png" alt="bj04">
                            <div class="rankings">3위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">아프리카 TV <span>양띵</span></div>
                    </div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj05.png" alt="bj05">
                            <div class="rankings">4위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">유투브 TV <span>이사배</span></div>
                    </div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj06.png" alt="bj06">
                            <div class="rankings">5위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">유투브 BJ<span>포니</span></div>
                    </div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj07.png" alt="bj07">
                            <div class="rankings">6위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">유투브 TV <span>쌈바홍</span></div>
                    </div>
                </div>

                <div class="newBJ">
                    <div class="title" style="display: none;"><h4>NEW BJ</h4></div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj04.png" alt="bj04">
                            <div class="rankings">7위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">아프리카 TV <span>양띵</span></div>
                    </div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj05.png" alt="bj05">
                            <div class="rankings">8위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">유투브 TV <span>이사배</span></div>
                    </div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj06.png" alt="bj06">
                            <div class="rankings">9위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">유투브 BJ<span>포니</span></div>
                    </div>
                    <div class="bjsBox">
                        <div class="bjBox">
                            <img src="../img/bj07.png" alt="bj07">
                            <div class="rankings">10위</div>
                            <div class="black"></div>
                            <div class="rp">
                                <div class="icon">RP</div>
                                <div class="point">10,000</div>
                            </div>
                            <a href="" class="btn">VOTE</a>
                        </div>
                        <div class="txtBox">유투브 TV <span>쌈바홍</span></div>
                    </div>
                </div>
            </div>
    </section>

<% include ../include/footer %>

   </div>
</body>
<script>

    function updateData(){
        $.ajax({
            type: "GET",
            url: "/ajax/update_bjlist",
            crossDomain: false,
            contentType: "application/json",
            processData: false,
            dataType: "json",
            success: function(data){
                var result = $.parseJSON(JSON.stringify(data));
                var data = $.parseJSON(result.data);

                if(result.status === true){

                    // 이곳을 채워주시면 됩니다.


                } else { // 데이터 에러
                    console.log("Data Error : " + reseult.message);
                }
            }, error: function(xhr, status, errorThrown){
                console.log("통신에러 : " + xhr.responseText);
            }
        }); // end of ajax
    } // end of updateData()

    $(document).ready(function () {
        // $(".boyList").show();
        updateData(); // 첫번째 업데이트
        setInterval(updateData, 5000);
    });

</script>
</html>
