<% include ../include/header %>

    <section class="listpage">
        <% include ../include/s_visual %>
        <div class="bgBox">
            <div class="sub_content">
                <h4>BJ보기</h4>
                <div class="bjlist vsbox">
                   <div class="vsbest top1">
                        <div class="bjBox card viewPrnt">
                             <div class="rankings">1위</div>
                             <div class="parent">
                                 <div class="viewChld child bj01">
                                     <div class="content"></div>
                                 </div>
                                 <div class="trans_txt">
                                     <img src="https://img.castvot.com/img/icon_crown.png"><span class="cardname fleft">윰댕</span>
                                 </div>
                                 <div class="btnb">
                                     <a href="#">VOTE</a>
                                     <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                                 </div>
                             </div>
                             <ul class="ul_count">
                                 <li><span>12,000</span><div class="ibg coin"></div></li>
                                 <li><span>13,373</span><div class="ibg hrt"></div></li>
                             </ul>
                             <ul class="ul_name">
                                <li>유튜브BJ</li>
                                <li>윰댕</li>
                             </ul>
                         </div>
                     </div>
                     <div>VS</div>
                     <div class="vsbest top2">
                        <div class="bjBox card viewPrnt">
                            <div class="rankings">2위</div>
                           <div class="parent">
                              <div class="viewChld child bj01">
                                 <div class="content"></div>
                              </div>
                              <div class="trans_txt">
                                 <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                              </div>
                              <div class="btnb">
                                 <a href="#">VOTE</a>
                                 <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                              </div>
                           </div>
                           <ul class="ul_count">
                              <li><span>12,000</span><div class="ibg coin"></div></li>
                              <li><span>13,373</span><div class="ibg hrt"></div></li>
                           </ul>
                           <ul class="ul_name">
                              <li>유튜브BJ</li>
                              <li>윰댕</li>
                           </ul>
                        </div>
                     </div><!-- //bjlistBox-->
                </div><!-- //vsbox-->

                <div class="bjlist vsbox2">
                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->

                  <div class="bjlistBox">
                     <div class="bjBox card viewPrnt">
                        <div class="rankings">2위</div>
                        <div class="parent">
                           <div class="viewChld child bj01">
                              <div class="content"></div>
                           </div>
                           <div class="trans_txt">
                              <img src="https://img.castvot.com/img/icon_crown(s).png"><span class="cardname fleft">윰댕</span>
                           </div>
                           <div class="btnb">
                              <a href="#">VOTE</a>
                              <a href="#" id="like" class="mobile-hide"><img src="https://img.castvot.com/img/icon_hrt_wh.png" alt=""></a>
                           </div>
                        </div>
                        <ul class="ul_count">
                           <li><span>12,000</span><div class="ibg coin"></div></li>
                           <li><span>13,373</span><div class="ibg hrt"></div></li>
                        </ul>
                        <ul class="ul_name">
                           <li>유튜브BJ</li>
                           <li>윰댕</li>
                        </ul>
                     </div>
                  </div><!-- //bjlistBox-->
                </div>
            </div><!-- //sub_content-->
    </section>

<% include ../include/footer %>

   </div>
</body>
</html>
