<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127308650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127308650-1');
    </script>

    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>국민남친선발대회2</title>
     <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
     <link rel="stylesheet" type="text/css" href="https://img.castvot.com/css/style_bfc2.css">
</head>
<style>
    body { background: url('https://img.castvot.com/img/bg.jpg') no-repeat 50% 0; background-attachment: fixed; background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover; }
    body * {text-align: center; margin: 0 auto;}
    /* 드래그 색상 변경 */
    ::-moz-selection { background: #000; color: #ffffff; }
    ::selection { background: #000; color: #ffffff; font-weight: bold; }
</style>

<body>
  <div id="wrap">
    <div class="c_logo"><img src="https://img.castvot.com/img/logo2.png" alt="logo" /></div>
    <div class="c_titlebg">
        <div><img src="https://img.castvot.com/img/title.png" alt=""></div>
        <p>
            어두운 골목길.<br />
            누가 집까지 같이 걸어줬으면 하고  바라는 순간!<br />
            당신의 머리속에서 떠오르는 단어 남.친.! <br /><br />
            마주잡은 손의 주인을 뽑아주세요!
        </p>
    </div>
    <div class="schedule">
        <h2><span>후보추천 일정</span>2018년 10월 12일(금) - 2018년  10월 21일(일)</h2>
        <h2><span>투표일정</span>2018년 10월 22일(월) - 2018년 11월 12일(월)</h2>
    </div>
    <div>
        <div class="borderbg">
            <img src="https://img.castvot.com/img/icon_1.png" alt="">
            <h4>참여방법 ①</h4>
            <h3>내가 좋아하는 최애를 후보로 추천!</h3>
        </div>
        <div class="borderbg">
            <img src="https://img.castvot.com/img/icon_2.png" alt="">
            <h4>참여방법 ②</h4>
            <h3>내가 좋아하는 최애에게 투표!</h3>
        </div>
    </div>
    <div class=btn><a href="https://bfc.castvot.com/bfc2/newboy2" class="button btn_blue btn_newboy">후보추천 바로가기</a></div>
    <div class="noticebg">
        <p>
            10월 국민남친선발대회 투표가 종료되었습니다. 참여해주신 많은 분들께 감사드립니다 :)<br />
            순위 발표 및 상금 전달에 대해 알고 싶다면 <br /><br />
            10월 11일 <span>< 국민남친선발대회 ></span> 홈페이지를 방문해주세요 !
        </p>
        <img src="https://img.castvot.com/img/comingsoon.png" alt="">
    </div>

  </div>
</body>
</html>
