<% include ../bfc2_view/include/header %>

<section>
        <div class="sub_content">
            <p class="m_size"><img src="https://img.castvot.com/img/error.png" / alt="에러페이지"></p>
        </div>
    </section>
<% include ../bfc2_view/include/footer %>

    </div>
</body>
</html>
