<% include ../include/header %>

    <section>
        <% include ../include/s_visual %>

        <div class="bgBox">
            <div class="sub_content">
                <h4>공지사항</h4>
                <table class="list_table">
                    <colgroup>
                        <col width="15%">
                        <col width="51%">
                        <col width="15%">
                        <col width="19%">
                        <col width="0%">

                    </colgroup>
                <tr class="bold">
                    <td class="notice_t"><b>제&nbsp;&nbsp;&nbsp;목</b></td>
                    <td colspan ="4" class="txtcenter">
                        투표하기전에 꼭 읽어보세요 !
                    </td>
                    <td colspan="1"></td>
                </tr>
                <tr class="bold">
                    <td class="notice_t"><b>작성자</b></td>
                    <td colspan="2">캐스팅보트솔루션</td>
                    <td class="notice_t"><b>등록일자</b></td>
                    <td colspan="2">2018.11.23</td>
                </tr>

                <tr class="list_txt">
                    <td rowspan="4" colspan="6">
본 투표 서비스는 홍콩에 있는 “Casting Vote Solution HK Limited”에서 제공 됩니다.<br>
(한국) 워너STAR 의 대상자는 한국에서 활동하고 있는 혹은 한국인에 한하며, 대상자는 추천에 의해서만 선발 됩니다. “Casting Vote Solution HK Limited”는 추천을 하지 않음을 명시 합니다. <br>
투표에 사용되기 위하여 지갑에 모인 암호화폐의 보관 및 관리권은 “Casting Vote Solution HK Limited”에 있습니다. <br><br>

<b>* BJ 후보자 1인으로 인하여 투표된 암호화폐의 배분 계획은 다음과 같습니다. </b><br>
<b class="red">**위의 모든 조건에 동의 하실 경우에 한해서만 투표가 가능합니다.</b><br>
위의 모든 조건에 동의 하시지 않으실 경우, 절대 투표에 참여 하시면 안됩니다.
<br><br>
                    </td>
                </tr>
            </table>
                <div class="pinkBtn"><a href="/notice">목록보기</a></div>
            </div>
        </div>
    </section>

<% include ../include/footer %>

  </div>
</body>
</html>
