<% include ../include/header %>

    <section>
        <% include ../include/s_visual %>

        <div class="bgBox">
        <div class="sub_content">
            <h4>공지사항</h4>
            <table class="tg_notice">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일자</th>
                </tr>
                <tr class="bold red">
                    <td>필독</td>
                    <td>
                        <a href="/notice/1" style="color:red;">투표하기전에 꼭 읽어보세요 !</a>
                        <span>&nbsp;2018.10.22</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018.10.22</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <a href="/notice/2">"워너STAR" 서비스 오픈안내입니다.</a>
                        <span>&nbsp;2018.10.22</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018.10.10</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <a href="/notice/3">"워너STAR" 서비스 오픈안내입니다.</a>
                        <span>&nbsp;2018.10.22</span>
                    </td>
                    <td>캐스팅보트솔루션</td>
                    <td>2018.10.22</td>
                </tr>
            </table>
        </div><!-- //sub_content-->
</section>

<% include ../include/footer %>
  </div>
</body>
</html>
